<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INPUT PAGE</title>
</head>
<body>

    <!-- Size will determine the length of the input box. ONLY APPLIES FOR HORIZONTAL LENGTH-->

    <form method = "GET" action = "/search">
        <table>
            <tr>
                <td>Search Comments</td>
                <td><input type = "text" name = "keyword" size = 30 placeholder = "Enter Keywords" required></td>
            </tr>
        
            <tr>
                <td>Minimum Score</td>
                <td>
                    <!--selected means the default value-->
                    <select name = "score">
                        <option value = "0.1" selected>0.1</option>
                        <option value = "0.2">0.2</option>
                        <option value = "0.3">0.3</option>
                        <option value = "0.4">0.4</option>
                        <option value = "0.5">0.5</option>
                        <option value = "0.6">0.6</option>
                        <option value = "0.7">0.7</option>
                        <option value = "0.8">0.8</option>
                        <option value = "0.9">0.9</option>

                    </select>
                </td>
            </tr>
        
            <tr>
                <td><button type="submit">Search</button></td>
            </tr>

        </table>
    
    </form>
    
</body>
</html>

<!-- <td><input type="number" name="rating" step="0.1" value="0.1" max="1" required></td> -->